<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base target="_blank">
    <title>$title$</title>
    <meta name="description" content="$description$">
    $if(favicon)$
    <link rel="icon" href="$favicon$">
    $else$
    <link rel="icon" href="favicon.ico">
    $endif$
    <link rel="stylesheet" href="$stylesheet$">
  </head>
  <body>
    <main class="$body_class$">
      $body$
    </main>
  </body>
</html>
